<h1><%= "Favorites for #{@user.name}" %></h1>
<p>Update your favorite news topics below.</p>

<div class="card-deck mt-6">

  <div class="col-md-5">
    <div class="card h-100 border-dark mb-3" style="width: 25rem;">
      <div class="card-header text-white bg-dark">
        Available Topics
      </div>
      <ul class="list-group">
        <% Topic.all.each do |topic| %>
          <li class="list-group-item d-flex justify-content-between">
            <%= topic[:name] %>
            <% is_existing_favorite = @favorites.where(topic_id: topic[:id]).exists? %>
            <% if !is_existing_favorite %>
              <%= button_to "save to favorites", user_favorites_path(@user.id),
                class: "btn btn-outline-success", disabled: is_existing_favorite,
                method: :post, params: { is_existing_topic: true, rank: @favorites.length + 1,
                topic_id: topic[:id], user_id: @user.id } %>
              <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card h-100 border-dark mb-3" style="width: 30rem;">
      <div class="card-header text-white bg-success">
        Your favorites
      </div>
      <ul class="list-group">
        <% @favorites.order(:rank).each do |favorite| %>
          <li class="list-group-item d-flex justify-content-between">
            <span>
              <%= Topic.find_by(id: favorite.topic_id).name %>
            </span>
            <span id="relish-fav-btn-group">
              <% is_first_user_favorite = favorite[:rank] == 1 %>
              <%= button_to "move up", "/users/#{@user.id}/favorites/#{favorite.id}/uprank",
                  class: "btn btn-sm btn-outline-success",
                  disabled: is_first_user_favorite, method: :get %>
              <%= button_to "remove", user_favorite_path(@user, favorite.id),
                  class: "btn btn-sm btn-outline-danger", method: :delete,
                  params: { id: favorite.id, user_id: @user.id } %>
              <% is_last_user_favorite = favorite[:rank] == @favorites.length %>
              <%= button_to "move down", "/users/#{@user.id}/favorites/#{favorite.id}/downrank",
                  class: "btn btn-sm btn-outline-success",
                  disabled: is_last_user_favorite, method: :get %>
              </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

